/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #333;
  line-height: 1.6em;
}
img {
  width: 100%;
}
#showcase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 67vh;
  text-align: center;
  padding: 100px 20px;
  color: #fff;
  z-index: -1;
}
.showcase-cta {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  z-index: 2;
}
@media (max-width: 500px) {
  .showcase-cta {
    padding-top: 90px;
  }
}
.showcase-cta h1 {
  font-size: 60px;
  line-height: 1.2em;
  padding-bottom: 30px;
}
@media (max-width: 700px) {
  .showcase-cta h1 {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .showcase-cta h1 {
    font-size: 40px;
  }
}
.showcase-cta p {
  font-size: 30px;
  line-height: 1.6em;
  max-width: 80%;
  padding-bottom: 30px;
}
@media (max-width: 900px) {
  .showcase-cta p {
    font-size: 25px;
  }
}
@media (max-width: 700px) {
  .showcase-cta p {
    font-size: 23px;
  }
}
@media (max-width: 500px) {
  .showcase-cta p {
    font-size: 20px;
    max-width: 90%;
  }
}
.showcase-cta .sign-up {
  font-size: 17px;
  margin-top: 10px;
}
.showcase-cta .sign-up a {
  font-size: 17px;
  text-decoration: none;
  color: #11998e;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.showcase-cta .sign-up a:hover {
  color: #fff;
  border-bottom: 1px solid #11998e;
}
#about-showcase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/about-header.jpg");
  background-size: cover;
  background-position: center;
  height: 10vh;
  text-align: center;
  padding: 100px 20px;
  color: #fff;
  z-index: -1;
}
#about-showcase .heading-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
#about-showcase .heading-container h1 {
  font-size: 32px;
  padding-top: 30px;
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container .button {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  color: #333;
  background: #11998e;
  /* fallback for old browsers */
  background: linear-gradient(to right, #38ef7d, #11998e);
  padding: 10px 100px;
  border-radius: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn-container .button.button:hover {
  color: #11998e;
  background: #fff;
}
.btn-container .small-button {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  color: #333;
  background: #11998e;
  /* fallback for old browsers */
  background: linear-gradient(to right, #38ef7d, #11998e);
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn-container .small-button:hover {
  color: #11998e;
  background: #d3d3d3;
}
#navbar {
  text-transform: uppercase;
  position: absolute;
  top: 5%;
}
#navbar a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  list-style: none;
  margin-bottom: 150px;
}
#navbar a:hover {
  color: #11998e;
}
#navbar .current {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}
#navbar .nav-button {
  background: linear-gradient(to right, #38ef7d, #11998e);
  color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.3s;
}
#navbar .nav-button:hover {
  color: #11998e;
  background: #fff;
  box-sizing: border-box;
}
.main-footer {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin-top: 30px;
}
.about-team {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 700px) {
  .about-team {
    flex-flow: row wrap;
  }
}
@media (max-width: 500px) {
  .about-team {
    flex-direction: column;
    font-size: 20px;
    padding: 20px 0;
  }
}
.about-team .team-members {
  padding: 10px 0;
  margin: 20px 10px;
  width: 25%;
}
.about-team img {
  width: 35%;
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding-top: 20px;
}
@media (max-width: 700px) {
  .about-team img {
    margin-top: 20px;
    width: 35%;
  }
}
.about-team .fab {
  font-size: 22px;
}
@media (max-width: 900px) {
  .about-team .fab {
    font-size: 28px;
  }
}
.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: #333;
  color: #333;
  font-weight: 600;
  font-size: 20px;
  background: #f1f1f1;
  text-align: left;
  line-height: 2em;
  padding-bottom: 50px;
}
.mission-statement h1 {
  font-size: 26px;
  font-weight: 700;
  color: #11998e;
  border-bottom: 3px solid #11998e;
}
.mission-statement p {
  width: 60%;
}
.login-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: #fff;
  color: #333;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 2em;
}
.login-cta h1 {
  font-size: 26px;
  font-weight: 700;
  color: #11998e;
  border-bottom: 3px solid #11998e;
}
.login-cta p {
  width: 80%;
}
