#about-showcase {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/about-header.jpg");	
    background-size: cover;
    background-position: center;
    height: 10vh;
      text-align: center;
    padding: 100px 20px;
    color: @white;
    z-index: -1;

    .heading-container {
      // width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;

      h1 {
        font-size: 32px;
        padding-top: 30px;
        border-bottom: 3px solid @white;
        padding-bottom: 10px;
      }
    }
}
  
